[2018-02-07 17:36] ryw opened #14 "Enterprise Clickstream to BigQuery"

[2018-02-07 17:36] ryw opened #15 "Enterprise Clickstream to Redshift"

[2018-02-07 17:41] ryw opened #16 "Enterprise Airflow on Google Cloud"

[2018-02-07 17:42] ryw opened #17 "Enterprise Airflow on AWS"
* We'll probably need to run our own Kubernetes for this, for now.

[2018-02-09 19:01] andscoop opened #18 "Add ability to duplicate pools, variables and connections between two Airflow instances"
As a user of the Astronomer Enterprise, I would like to be able to migrate pools, connection information and Airflow Variables between various Airflow instances, in order to save significant amounts of time when deploying airflow instances for many teams or users in a single organization or team.

possible cli cmd
`astro airflow copy [src-instance-release-name] [dst-instance-release-name] [args]`

[2018-02-09 19:48] benjamingregory commented on #18
Copying connection info would be 💯

[2018-02-10 16:11] ryw opened #21 "Beef up homepage for enterprise.astronomer.io"
good models:
* https://enterprise.github.com
* https://www.confluent.io/product/confluent-enterprise/
* https://about.gitlab.com/gitlab-ee/

[2018-02-10 17:27] ryw commented on #16
@schnie let's add content to http://enterprise.astronomer.io/guides/google-cloud/ that starts from the beginning with a Google Cloud account... do you want to just add to the guide or does some other dev have notes on this and they can add to guide?

[2018-02-10 17:31] ryw commented on #17
@schnie we're going to probably need to help these early customers get Kubernetes running on AWS perhaps via Typhoon (which includes Terraform scripts) - do you want to do first exploration of the idea, or we can assign to a dev.

Empty page for guide created here: http://enterprise.astronomer.io/guides/aws/

[2018-02-10 18:09] ryw opened #22 "Create Airflow connections via API/CLI"
@schnie is the standard Airflow CLI (https://github.com/apache/incubator-airflow/blob/master/airflow/bin/cli.py) usable in Astronomer Open/EE?

[2018-02-12 18:43] tedmiston commented on #15
Cross-linking this with the BigQuery ticket for reference since there is a shared core.

https://github.com/astronomerio/astronomer-ee/issues/14

[2018-02-12 19:44] vparekh94 opened #26 "Beef Up Getting Started from Nothing section"
Based on recent external feedback, beef up the Getting Started from Nothing Airflow section to be a little easier to follow.

[2018-02-12 20:19] vparekh94 commented on #26
Should be good with that last commit.

[2018-02-12 20:19] #26 closed

[2018-02-12 22:12] #21 closed

[2018-02-12 22:12] gregbrunk commented on #21
Issue moved to [astronomerio/website #282](https://github.com/astronomerio/website/issues/282) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-13 19:55] ryw opened #27 "Add links to readme for all related projects that encompass astronomer-ee"

[2018-02-15 17:46] tedmiston commented on #17
@schnie @ryw Thoughts on punting this from this sprint?

I read through the typhoon docs and discussed with Greg yesterday.  While it looks cool, it's a small/early project (11 contributors, almost all 1 guy) but more importantly the day 2 ops are more work to maintain than using managed Kubernetes on GCP.

Is it realistic to push people towards that path until AWS has EKS/Fargate in GA?

[2018-02-15 21:39] schnie commented on #17
I think pushing it makes sense. Feel like we have higher priorities and really don't want to support non-managed kubernetes workloads.

[2018-02-15 22:27] ryw commented on #17
moved out of milestone

[2018-02-20 00:27] #27 closed

[2018-02-20 17:20] benjamingregory opened #28 "Add Jupyter Module to Astronomer"
Multi-notebook environment
   https://blog.jupyter.org/jupyterlab-is-ready-for-users-5a6f039b8906
   https://github.com/jupyterhub/jupyterhub

Deployment on Kubernetes
   https://github.com/jupyterhub/kubespawner
   https://github.com/jupyterhub/helm-chart
   https://github.com/jupyterhub/zero-to-jupyterhub-k8s

Authentication with Keberos
   https://github.com/jupyterhub/jupyterhub-example-kerber

[2018-02-26 01:12] schnie opened #30 "Automate publishing docs via CircleCI"
Set up circle to build and push docs.

[2018-02-26 13:48] schnie commented on #30
I was thinking we could create a GCP service account. If you're able to work on this, I can get one created that can push to those buckets.

[2018-02-26 16:45] tedmiston commented on #30
Yeah, I can do it but probably in the next sprint if that works.

I wrote a doc on Friday that adds the manual build instructions I'll push up in the mean time.

[2018-02-28 20:16] cwurtz opened #31 "Update NGINX ingress to pass auth headers"
For components like Airflow and Grafana, we'll need to pass a header containing the authenticated user's username and email.

It should add the headers `X-PROXY-AUTH-USER`and `X-PROXY-AUTH-EMAIL`, where the former is the username, and the later is the email

NGINX will also need to scrub these headers from incoming requests to ensure that it is the only way for ingress requests to have this header

[2018-02-28 20:18] tedmiston opened #32 "Add copy code buttons to EE"

[2018-02-28 20:19] #32 closed

[2018-02-28 20:21] cwurtz opened #34 "Add Airflow backend to authenticate user from header"
We'll soon have a trusted header sent containing the username/email of a user.  We'll need a Airflow backend that can take these headers, check if an airflow/flask user already exists matching it (If not create it), and create a new session.  Update the airflow.cfg to use this backend.

[2018-02-28 20:22] cwurtz opened #35 "Configure grafana to check auth header"
Grafana support proxy auth, it needs to be configured to check the correct header per http://docs.grafana.org/tutorials/authproxy/#grafana-authproxy

[2018-03-01 01:35] tedmiston opened #36 "Add Code Climate to EE"

[2018-03-01 01:39] #36 closed

[2018-03-02 00:43] #16 closed

[2018-03-04 14:07] andscoop opened #41 "Pushing your first DAG/ Getting Started Doc"
Doc will include

- Initiating your first project
  - pointing your project to the appropriate registry (will be temporary until more features added to cli)
- What's in your project directory after `astro airflow init`
- Pushing your first DAG

Other Task Involved
- Review how Doc fits in with Migrating DAGs doc

[2018-03-05 16:04] benjamingregory commented on #41
Happy to help with example dags, etc. if you need assistance.

Could be a different issue though.

[2018-03-08 23:25] andscoop opened #46 "Hookup EE Docs to Circle CI"
We will want to configure EE for circle-ci so that we can do automated builds and pushes to our GCP bucket.

[2018-03-09 19:22] tedmiston commented on #46
@andscoop I have time carved out to do this next week for EE & Open - https://github.com/astronomerio/astronomer-ee/issues/30 https://github.com/astronomerio/astronomer/issues/31.

[2018-03-09 23:47] tedmiston opened #47 "Kafka books"
I threw a few hours yesterday and today into surveying the Kafka book landscape and determining which ones are most applicable to the work we're doing on the platform and through services today.

There are 20 Kafka (including ZooKeeper) books out over the past few years and 2 of them look really good for our needs.  I read 100 pages or so across the books to get a feel.  2 of the videos look good

[2018-03-10 05:37] #47 closed

[2018-03-12 16:56] ryw opened #48 "doc update"
Yea, it's prob just a sentence or two explaining the options around TLS.

On Sun, Mar 11, 2018 at 8:27 PM, Ry Walker <ry@astronomer.io> wrote:
Is this something worth working into the docs?

On March 9, 2018 at 7:32:09 PM, Greg Neiheisel (greg@astronomer.io) wrote:

You can install without TLS to get a feel for what gets deployed. If you skip / don't set values for global.tlsSecret and global.acme

[2018-03-14 23:13] tedmiston commented on #46
Closing as dupe

[2018-03-14 23:13] #46 closed

[2018-03-16 22:21] tedmiston opened #49 "ZooKeeper URL fix PR upstream"
I made a minor fix to a URL in the ZooKeeper chart in kubernetes/charts.  This issue is just to track the upstream PR to kuberentes and get familiar with their contrib proces.

TODO: add PR URL

[2018-03-21 17:19] tedmiston opened #51 "Fix database host URLs in docs"
This update is from a customer call yesterday which deployed the databases in a separate namespace.

[2018-03-21 17:20] tedmiston commented on #51
Done via https://github.com/astronomerio/astronomer-ee/pull/50

[2018-03-21 17:20] #51 closed

[2018-03-23 22:46] andscoop opened #52 "Update EE Docs To Reflect Houston Changes"
Astronomer EE docs need to be updated to reflect latest houston changes
Should include ...

- brief description of houston
- houston secret creation

[2018-03-24 16:25] andscoop commented on #48
The PR I created does not address a customer choosing to deploy a non-public cluster without TLS support enabled.

I don't believe we should recommend a customer does this lightly as we do not currently have support for pushing images to the registry if TLS is disabled. From my understanding this is a limitation of our private registry itself.

Before we include a private platform install w/out TL

[2018-03-24 16:54] andscoop opened #55 "Create Deploying Kubernetes on Docker For Mac Edge Guide"
We have a placeholder page for this, but no issue to track the tasks. Task will be to create a guide and or guides for deploying Astronomer EE locally to K8s on Docker for Mac Edge.

http://enterprise.astronomer.io/guides/minikube/index.html

[2018-03-24 17:55] #48 closed

[2018-03-24 17:56] #52 closed

[2018-03-24 18:05] schnie commented on #48
@andscoop sounds good. Yea if deployers are on the same network as the internal registry they should be able to deploy without TLS, but they'll need to add the IP of the registry to their local docker engine's `insecure-registries`, so it's kinda hacky, but can work.

[2018-03-26 16:07] andscoop commented on #41
@vparekh94 Would you be able to review this doc for content. I have changed the scope of this particular doc to only include project initialization and running it locally. I think deployment to a cluster should be it's own doc.

https://github.com/astronomerio/astronomer-ee/blob/feature/41-pushing-your-first-dag-guide/docs/pages/guides/creating-an-ee-project.md

[2018-03-26 17:53] vparekh94 commented on #41
@andscoop I like separating initializing from deploying - it definitely makes things a little clear. Only questions are:

1) Do you think that `packages.txt` should get a little blurb too?
2) Anything I can do to help with the Deploying doc?

[2018-03-26 17:54] andscoop commented on #41
@vparekh94 It probably should - I can finish that this week.

I do think that `packages.txt` should get a blurb. Would you be interested in doing that one since I haven't had any direct experience with it?

[2018-03-26 19:12] #41 closed

[2018-03-26 19:13] andscoop opened #57 "Create Guide Detailing Non-Public Astronomer EE"
Create a Guide Detailing Non-Public Astronomer EE

Guide will include

- [ ] Under which circumstances a customer might consider this setup (on a VPC)
  - [ ] How is this user experience different from a standard Astronomer EE install?
- [ ] What are options to replace the CLI deploy?
- [ ] What other features will be disabled/enabled?

[2018-03-26 19:14] andscoop commented on #57
per @schnie via #48

[2018-03-28 15:34] andscoop opened #58 "Create CI/CD Documentation"
We need a guide detailing how to deploy to Astronomer EE using CI/CD.

Will this doc replicate what astro-cli does under the hood? Or will it alternatively leverage astro-cli as an interface to accomplish all of this? If going route 2 - create appropriate issues in astro-cli to allow the CLI to accomplish this

[2018-03-28 15:46] tedmiston commented on #55
I slightly tweaked the scope for the mvp doc.

[2018-03-30 04:07] tedmiston commented on #49
PR == sent

I also went through the process of accounting linking, and signing The Linux Foundation's Contributor License Agreement so they can merge contributions.

Their PR process is pretty interesting.  It's very automated with a cool k8s-ci-robot.

https://github.com/kubernetes/charts/pull/4525

[2018-03-30 04:07] #49 closed

[2018-04-03 13:55] andscoop opened #59 "Create Doc For Using a Customer Airflow Image"
Some customers may want to lock down a version of airflow, python setuptools, etc. We need to document this process of passing in a customer docker image:tag.

[2018-04-04 13:51] vparekh94 opened #60 "Specify install location"
We've had a few customers attempt to deploy the CLI on remote boxes (cloud compute boxes, EC2s, etc.)

There's something in the install that breaks these.

We should make it clear that the CLI is meant for a local machine.

[2018-04-04 14:33] andscoop commented on #57
Dropping link for reference to insecure-registries
https://github.com/docker/docker.github.io/blob/master/registry/insecure.md#deploy-a-plain-http-registry

[2018-04-05 16:27] vparekh94 opened #62 "Trouble with google-cloud-data-flow"
google-cloud data-flow causes issues when deploying. Error message:

[code]

[2018-04-05 16:33] vparekh94 opened #63 "Specify postgres to connect to internal cluster, not the nodeport cluster"
The postgres database documentation from the default postgresql helm chart assumes a nodeport connection not to the internal cluster.

This causes some funny business to go on with the registry - the deployment resets to cli-1 when houston crashes.

[2018-04-05 16:33] vparekh94 commented on #63
@cwurtz @schnie where in the docs should this go?

[2018-04-05 16:49] cwurtz commented on #63
Currently, the `cli-#` isn't tied to Houston.  It's tied to the latest tagged image in the registry.  If it's reset to 1 it's because the registry crashed/restarted.  Greg created an issue in the helm repo for adding a stateful set to the registry https://github.com/astronomerio/helm.astronomer.io/issues/9

[2018-04-05 19:32] schnie commented on #62
@andscoop @tedmiston you guy know if this is related to https://github.com/astronomerio/astronomer/pull/46?

[2018-04-05 20:05] vparekh94 commented on #62
@schnie I'm pretty sure it is.  Andy mentioned to them in an email we're waiting to pull in the fix - I'm just trying to do a better job of documenting all issues/concerns that have come up in installs on GH.

[2018-04-05 20:10] andscoop commented on #62
Slightly, it is the same customer. The fix for #46 allowed the customer to move forward when he omitted dataflow from his `requirements.txt` (listed below). This issue is for the error that happens when leaving dataflow in the `requirements.txt`

**Customer Log Dump**
[code]

**Customer requirements.txt**
[code]

[2018-04-05 20:40] tedmiston commented on #62
I think this is unrelated to setuptools.

His first command says he's trying to install `apache-beam[gcp]==2.4.0`.  When I run a pip install on that package, the latest version that exists is 2.2.0.

[code]

(The 99999 is a hack to get it to show all versions.)

Even trying to install pre-release versions, I'm not getting one newer than 2.2.0.

[code]

However, I can see the [2.4.0 release](https:

[2018-04-05 20:46] tedmiston commented on #62
The second message in the customer's log is the `googleapis-common-protos` package failing to build because one of its dependencies failed to be met, presumably related to `apache-beam` or something it would have installed had it succeeded.

[2018-04-05 20:46] vparekh94 commented on #62
@tedmiston just ran:
`pip install apache-beam`

It tried to download 2.2.0, but failed due to some Cython issue.

2.4.0 is what the googleapis tries to pull

[2018-04-05 20:59] tedmiston commented on #62
Cython issue probably some dependency failed to build.  Can you paste your error logs?

[2018-04-05 21:04] vparekh94 commented on #62
[code]

could this just be specific to my machine?

[2018-04-05 22:12] tedmiston commented on #62
Ut oh.  This person https://stackoverflow.com/q/46532385/149428 had the same error as you and the answer says that Apache Beam is only compatible with Python 2.7.

I made a Python 2 virtual env and sure enough the 2.4.0 release is there.

[code]

So I went back to Python 3 and installed the latest supported version (2.2.0).  However on import it breaks down.

[code]

What it looks like to me is th

[2018-04-05 22:50] tedmiston commented on #62
Btw it looks like they're working on Python 3 support - https://issues.apache.org/jira/browse/BEAM-1251 (I'm watching).

I also opened an issue for getting the 5 non-working Python 3 releases removed - https://issues.apache.org/jira/browse/BEAM-4025.

[2018-04-08 15:07] ryw opened #65 "Dashboard for DETLT"
Track your DETLT metric (Daily ETL Tasks). It’s simple: how many ETL jobs has your organization automated to run each day? ETL jobs create value. Used correctly, they generate information from raw data, which is the first step towards obtaining insights from raw data. Automating this value creation should be a key goal.

https://medium.com/the-astronomer-journey/how-to-measure-data-drivenness-7bd0

[2018-04-09 15:33] tedmiston opened #66 "Private VPC ingress load balancer restriction"
A customer needs to be able to deploy EE inside a GKE Private Cluster (beta).  By default, our ingress listens on `0.0.0.0/0`.  This ticket is to allow limiting that.

From [GKE docs](https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balancing):

I think that all we need to do is allow `spec.loadBalancerSourceRanges` to be optionally set (but still keep the current default).

[2018-04-09 18:53] vparekh94 opened #69 "Info on running arbitrary bash commands"
From a customer request:
[code]

Is there a way to do this to do this with current EE? It looks like a requirement for some GCP packakges:
https://cloud.google.com/sdk/docs/#deb

[2018-04-09 18:56] schnie commented on #69
@vparekh94 yes, they can always add additional commands to the `Dockerfile` that the `astro` command creates in their project directory. Sounds like they just need to add some `RUN` commands to the `Dockerfile` - https://docs.docker.com/engine/reference/builder/#run

[2018-04-09 18:58] schnie commented on #69
There's also `ENV`, which can be used to add additional environment variables, rather than running `RUN export BLAH=blah`

[2018-04-09 19:07] vparekh94 commented on #69
Awesome, thanks for jumping in so quickly @schnie,

Going to get this added to the docs, but this enough for this issue.

[2018-04-09 19:07] #69 closed

[2018-04-09 20:51] tedmiston commented on #66
Done via https://github.com/astronomerio/helm.astronomer.io/pull/20

[2018-04-09 20:51] #66 closed

[2018-04-11 14:12] schnie opened #72 "Fix data service guide configuration"
The data services guide still references the old `config.yaml` format. We should update it to have secret creation commands that are copy/pastable.

https://github.com/astronomerio/astronomer-ee/blob/master/docs/pages/guides/data-services.md

[2018-04-11 17:08] vparekh94 commented on #60
Update - they were able to install it using the go binary instead of the curl command - no idea why. Not assigning to anyone because it doesn't seem urgent, but eventually we should look into this.

[2018-04-11 18:51] tedmiston commented on #62
@vparekh94 Have we resolved this one to the point it can be closed?

[2018-04-17 14:22] vparekh94 opened #73 "Upgrade pip and setuptools"
The current version of EE is using an older version of pip and setuptools. This is affecting google packages (not just google cloud, but also what's needed for google analytics and other google packages).

https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2990#issuecomment-333943013

So far, I've tried adding
`setuptools==39.0.1` to `requirements.txt`
and
`RUN pip install --upgrade

[2018-04-17 15:01] andscoop commented on #73
@vparekh94 We are going to update our Airflow Dockerfile and cut a new release. Can you submit a PR with the desired changes to our pip and setuptools install? https://github.com/astronomerio/astronomer/blob/master/docker/platform/airflow/Dockerfile#L52

I believe @schnie will need to do the docker build push.

I can update our charts to look at what will be the 0.1.5 tag

[2018-04-17 16:02] tedmiston commented on #73
It'd be weird that pip would be breaking stuff here... the new version (10) has only been out for 3 days.  So unless, the Google packages were updated in the last 3 days and use breaking features in 10, I don't think it's related to the linked issue.

The 9.0.3 version we have been using was the latest stable until 3 days ago.

The setuptools we're running is the latest already.

(I upgraded pip &

[2018-04-17 16:09] tedmiston commented on #73
merged + approved your pr though.  +1 to what andy said ^ about greg cutting the release.

[2018-04-17 17:16] schnie commented on #73
Whoa, hang on here. I had a lot of shit break using pip 10 yesterday. Not sure we want to do this.

[2018-04-17 17:17] schnie commented on #73
@vparekh94 @tedmiston Did you guys test this out?

[2018-04-17 17:54] tedmiston commented on #73
There was also a PyPI outage that was causing breakage for me yesterday. https://twitter.com/gvanrossum/status/986069012520910848

It seemed to work for Viraj "I was able to successfully build locally with a few requirements in there." so I didn't test this one myself, but I'll give it a go.

[2018-04-17 18:42] schnie commented on #73
@vparekh94 did you run a full build from the `astronomerio/astronomer` directory? I'm seeing:
[code]

[2018-04-17 18:45] vparekh94 commented on #73
Ahh, I did not run from there - I was building through adding an extra RUN command to upgrade pip.

Should we roll this back and proceed with adding things to `requirements.txt` in the short term?

[2018-04-17 19:34] schnie commented on #73
If that fixes it for your specific problem, then yea just add it to `requirements.txt`.

[2018-04-17 20:05] tedmiston commented on #73
I wouldn't put pip or setuptools in the requirements.txt but anything else yeah.

[2018-04-17 20:40] tedmiston commented on #73
The way we do it already is the best way: keep the packaging tooling in place in stable before packages are installed.

Unless you have a package that fails via requirements.txt install... there are some edge cases and extra flags you can set via `pip install ...` for 1 package that aren't possible when it's bulk installing all of them via `pip install -r requirements.txt`.

If you have a package

[2018-04-17 21:23] vparekh94 opened #74 "Logs from task instances link to localhost"
When accessing logs from Browse -> Task Instances ->  Log URI, the link goes to localhost instead of the log file (which can be accessed just fine from Graph -> Task Instance -> Logs).

This link should also lead to the log file, not back to localhost.

[2018-04-18 00:25] schnie commented on #74
I feel like this is an Airflow bug, but maybe we missed something. Haven't had a chance to look into how that url is computed.

[2018-04-18 13:29] vparekh94 commented on #63
Looks like this can be closed with the above merge.

[2018-04-18 13:29] #63 closed

[2018-04-23 20:07] andscoop opened #75 "SPIKE: Investigate EE Install Logic"
This ticket is a placeholder for the investigation of streamlining the Airflow Enterprise

[2018-04-26 14:31] andscoop commented on #73
@vparekh94 What did you end up doing here? Are we good to close this out?

[2018-04-26 14:32] andscoop commented on #62
@vparekh94 bump

[2018-04-26 15:30] vparekh94 commented on #62
Sorry guys -

Yeah I think we can close this for now - nothing we can do to fix it.

[2018-04-26 15:30] #62 closed

[2018-04-26 15:31] vparekh94 commented on #73
Yeah, we can close. In the short term, I just added pip==10.0.0 to `requirements.txt` and that fixed the issue.

[2018-04-26 15:31] #73 closed

[2018-04-27 16:14] cwurtz commented on #74
https://github.com/astronomerio/helm.astronomer.io/pull/25

[2018-05-02 15:35] tedmiston opened #78 "Support installing a pip package line with spaces"
Reported by Noah from 84.51.

Having this line in `packages.txt` causes the install to break and the package does not get installed.

[code]

I had him workaround it by changing that particular dependency to

[code]

which worked.

(It's a common misconception that the `-e` is needed for installing any package from git, but it's not actually required unless you actually intend to edit the code of

[2018-05-02 17:38] andscoop commented on #78
duplicate of https://github.com/astronomerio/astro-cli/issues/19 . I am going to leave both open until we can resolve since these issues are in separate repo's for more visibility.

[2018-05-02 17:53] tedmiston commented on #78
Sounds good - we can scope this one to be the backend change that needs to be made.  And scope the one you linked to any required changes for the CLI.

[2018-05-14 14:04] cwurtz commented on #74
The overall problem is fixed in v0.2.0 of EE.  I don't see a specific instance here to ensure it is up to date, so I am closing out.

[2018-05-14 14:04] #74 closed

[2018-05-18 13:56] schnie opened #83 "Secret names no longer match defaults"
Looks like our docs got out of sync of what we actually have in the helm charts.

[2018-05-18 13:56] schnie commented on #83
@cwurtz any idea why we changed these? The GCP docs use secret names that no longer match https://github.com/astronomerio/helm.astronomer.io/blob/master/charts/airflow/values.yaml#L56-L59.

[2018-05-18 13:59] schnie opened #84 "Grafana secret missing"
Looks like the GCP docs removed the Grafana secret.

[2018-05-18 14:00] schnie commented on #84
@cwurtz @andscoop any idea what happened to Grafana secret?

[2018-05-18 14:00] cwurtz commented on #83
They were removed from the docs because we no longer do the airflow install by default.  The secrets currently documented are set for the astronomer chart to use.  Houston/Commander will override airflow values with the secrets that get set specific to each airflow install

[2018-05-18 14:04] cwurtz commented on #84
Grafana secret was removed from the docs because airflow is no longer installed by default.  It will be generated when airflow is installed by commander/houston

[2018-05-18 14:09] schnie commented on #83
:+1:

[2018-05-18 14:09] #83 closed

[2018-05-18 14:09] schnie commented on #84
:+1:

[2018-05-18 14:09] #84 closed

[2018-05-21 14:33] #14 closed

[2018-05-21 14:34] #15 closed

[2018-06-04 14:06] bonominijl opened #88 "Guide - Removing old DAGs from the UI"
Guide explaining the process for removing DAGs no longer in the dagbag but still present in postgres from an EE install with postgres access.

[2018-06-04 14:07] bonominijl opened #89 "Guide - MiniKube setup, extended"
Update minikube guide to include more detailed install steps for each OS.

Include minikube as part of Docker Edge

[2018-06-05 14:07] #72 closed

[2018-06-12 01:58] vparekh94 commented on #88
@bonominijl from  an old  prospect:

[code]

[2018-06-12 14:09] ryw opened #90 "migrate enterprise.astronomer.io/guides to astronomer.io/guides"
not urgent, but we should prob just consolidate all guides into astronomer.io/guides - can still keep an index page of enterprise-relevant guides at enterprise.astronomer.io/guides

[2018-06-12 15:28] bonominijl commented on #88
@vparekh94 Awesome, thanks!

[2018-06-12 18:52] #17 closed

[2018-06-12 20:43] ryw opened #93 "Show version of Astronomer EE in Airflow UI on /admin/versionview/"

[2018-06-20 21:02] ryw opened #94 "Telemetry - Backend microservice"
Edit 7/9/18 - Adding feature request from Tim: include active DAG count.

@tedmiston commented on [Wed Jun 06 2018](https://github.com/astronomerio/astronomer/issues/101)

[2018-06-25 14:49] ryw opened #96 "auto-restart scheduler"
Should monitoring stack should trigger notification and restart of scheduler if expected dags don’t run, and email alert should summarize the backlog - might be a nice feature, since it's usually the first manual troubleshooting step.

[2018-06-26 13:57] schnie commented on #96
I think we can handle this issue with our health check on the scheduler. Discussed with with Max yesterday, we can probably include a bash or python script to ping the database and do some quick math to determine if the scheduler hasn't heartbeated in a few intervals. Should turn the frequency of the health check to match the scheduler loop interval to avoid unnecessarily slamming the database wit

[2018-06-27 20:09] tedmiston opened #97 "Telemetry - Guide - Monitoring"
This is related to the work I'm doing for monitoring and telemetry for 0.3.0.  Ry mentioned adding this in a Slack thread today.

I started this today and will revisit it once the monitoring feature work is complete.

https://github.com/astronomerio/astronomer-ee/compare/monitoring-guide

@petedejoy @ryw @schnie Can you look at the outline I added in the link and let me know if there's anything yo

[2018-06-29 14:49] ryw commented on #97
outline looks good - let's fill in details today

[2018-07-02 03:49] tedmiston commented on #58
done https://github.com/astronomerio/astronomer-ee/blob/6aea7c3c878cea529dc89e7917e4c3587310aeda/docs/pages/guides/deploying-dags-with-cicd.md

[2018-07-02 03:49] #58 closed

[2018-07-05 20:41] tedmiston commented on #97
done via https://github.com/astronomerio/astronomer-ee/pull/98

[2018-07-05 20:41] #97 closed

[2018-07-06 21:06] tedmiston commented on #96
just throwing an idea out there - but i think we could have an alert in prometheus that triggered a scheduler restart e.g. if heartbeat went above a certain threshold.  but building it into the health check sounds nice too.

[2018-07-06 21:16] tedmiston opened #99 "Operator Can Access Airflow Metrics"
As the installer/operator of the Astronomer Platform, I can access metrics data collected from all running Airflow instances in Prometheus.

*(Copying current user stories back from spreadsheet for posterity.)*

[2018-07-06 21:16] tedmiston commented on #99
done

[2018-07-06 21:16] #99 closed

[2018-07-06 21:17] tedmiston opened #100 "Operator Can Open Dashboard URLs"
As the installer/operator of the Astronomer Platform, I receive the dashboard URL(s) after installing a release in NOTES.txt (also shows when running helm status post-install).

*(Copying current user stories back from spreadsheet for posterity.)*

[2018-07-06 21:17] tedmiston commented on #100
done

[2018-07-06 21:17] #100 closed

[2018-07-06 21:18] tedmiston opened #101 "Operator Can View Platform Metrics"
As the installer/operator of the Astronomer Platform, I have a Grafana dashboard to visualize high-level metrics built on running Airflow instance data in Prometheus.

*(Copying current user stories back from spreadsheet for posterity.)*

[2018-07-06 21:18] tedmiston commented on #101
done

[2018-07-06 21:18] #101 closed

[2018-07-08 03:49] schnie commented on #96
If we come up with a good health check, I think it's the way to go since it wouldn't really depend on Kubernetes and/or the rest of the monitoring stack being around. If we can't figure something clean out there, this might be the next option.

[2018-07-10 15:37] tedmiston opened #102 "User can set custom tags for each image"
As a user, I want to be able to set the tag for each image in a chart so that I can customize Airflow without building the other images.

The use case for this that I ran into was having a custom tag for Airflow but not having a local build of StatsD Exporter with the same tag, which is what the current setup in 0.3 applies.  After discussion with Greg, we think wanting to customize just the Airfl

[2018-07-10 17:39] #102 closed

[2018-07-18 18:23] #30 closed

[2018-07-20 14:04] ryw opened #104 "Airflow: Get alerted when Airflow can't schedule a task"
@ryw commented on [Mon Jan 15 2018](https://github.com/astronomerio/astronomer/issues/13)

Would be helpful if Airflow could alert us when it can't schedule a task for X minutes, instead of just silently spinning. If we had a Prometheus counter for tasks scheduled, alert could be based on that.

[2018-07-20 14:06] ryw opened #105 "Telemetry - Backend wire up everything via Zappa (spike)"
@tedmiston commented on [Wed Jun 06 2018](https://github.com/astronomerio/astronomer/issues/100)

https://github.com/Miserlou/Zappa

[2018-07-20 14:06] ryw opened #106 "Telemetry - Kubernetes job"
@tedmiston commented on [Wed Jun 06 2018](https://github.com/astronomerio/astronomer/issues/102)

[2018-07-20 14:48] ryw commented on #94
dupe w/ #105

[2018-07-20 14:48] #94 closed

[2018-07-20 14:49] ryw commented on #93
Issue moved to [astronomerio/incubator-airflow #28](https://github.com/astronomerio/incubator-airflow/issues/28) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:49] #93 closed

[2018-07-20 14:49] #90 closed

[2018-07-20 14:49] ryw commented on #90
Issue moved to [astronomerio/airflow-guides #16](https://github.com/astronomerio/airflow-guides/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:50] #28 closed

[2018-07-20 14:51] ryw commented on #31
this is done, right @cwurtz?

[2018-07-20 14:51] #31 closed

[2018-07-20 14:51] ryw commented on #34
this is done, right @cwurtz?

[2018-07-20 14:51] #34 closed

[2018-07-20 14:52] ryw commented on #35
this is done, right @cwurtz?

[2018-07-20 14:52] #35 closed

[2018-07-20 14:52] #89 closed

[2018-07-20 14:52] ryw commented on #89
Issue moved to [astronomerio/airflow-guides #17](https://github.com/astronomerio/airflow-guides/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:52] ryw commented on #88
Issue moved to [astronomerio/airflow-guides #18](https://github.com/astronomerio/airflow-guides/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:52] #88 closed

[2018-07-20 14:53] #59 closed

[2018-07-20 14:53] ryw commented on #59
Issue moved to [astronomerio/airflow-guides #19](https://github.com/astronomerio/airflow-guides/issues/19) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:53] ryw commented on #57
Issue moved to [astronomerio/airflow-guides #20](https://github.com/astronomerio/airflow-guides/issues/20) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:53] #57 closed

[2018-07-20 14:53] ryw commented on #55
Issue moved to [astronomerio/airflow-guides #21](https://github.com/astronomerio/airflow-guides/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:53] #55 closed

[2018-07-20 14:54] ryw commented on #18
Issue moved to [astronomerio/astro-cli #91](https://github.com/astronomerio/astro-cli/issues/91) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:54] #18 closed

[2018-07-20 14:55] #22 closed

[2018-07-20 14:55] ryw commented on #22
Issue moved to [astronomerio/astro-cli #92](https://github.com/astronomerio/astro-cli/issues/92) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:55] #60 closed

[2018-07-20 14:55] ryw commented on #60
Issue moved to [astronomerio/astro-cli #93](https://github.com/astronomerio/astro-cli/issues/93) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:55] ryw commented on #65
Issue moved to [astronomerio/orbit-ui #31](https://github.com/astronomerio/orbit-ui/issues/31) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:55] #65 closed

[2018-07-20 14:56] #75 closed

[2018-07-20 14:58] ryw commented on #78
Issue moved to [astronomerio/astro-cli #94](https://github.com/astronomerio/astro-cli/issues/94) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-20 14:58] #78 closed

[2018-07-20 15:25] andscoop opened #107 "Add ability to restrict users who can access an install with OAuth enabled"
We need the ability to whitelist or blacklist users who can access a customers Enterprise Install. Currently anyone with a Google account can authenticate to an install.

[2018-07-21 14:39] ryw opened #108 "Prometheus scraping too much"
Prometheus should only scrape Kube namespace that Astronomer is installed into.

Steps to reproduce:

Install Astronomer in a k8s cluster that already has an Astronomer running, open up Grafana dashboard, you'll see metrics for activity outside of your Astronomer installation.

[2018-07-21 15:33] schnie commented on #108
Lets get this done Monday.

[2018-07-23 19:01] schnie commented on #108
I have a fix for this too.

[2018-07-24 02:05] cwurtz commented on #31
It's not, but in the current setup it isn't necessary, at least not in the same context the issue was created for.  Closing it is fine

[2018-07-24 02:07] cwurtz commented on #35
Yeah, it'll all just be system admins that have access to it.  No need to differentiate the users

[2018-07-24 18:41] ryw opened #109 "will astronomer-ee work w/ AWS Aurora"
question from prospective customer @schnie @cwurtz do we have any reason to believe Astronomer wont work with Aurora?

[2018-07-24 19:17] schnie commented on #109
Aurora says Postgres compatible, so that's a good sign. Just a matter of trying it and seeing what kinda issues pop up, like we're doing now with Cloud SQL.

[2018-08-01 18:50] schnie commented on #108
This is done. Thought we closed it a while back.

[2018-08-01 18:50] #108 closed

[2018-08-03 16:49] vparekh94 opened #110 "Customer seeing unstable webserver performance"
Customer is experiencing unstable performance with their EE-airflow. @andscoop and I have been looking into it.

What we've tried so far:
- Restarting pods
- Reading through their code.

Problems:
- One of the worker nodes is stuck in a spin crash
- Unstable behavior with the webserver

[2018-08-03 20:12] bonominijl opened #111 "Webserver pod in crash loop back off"
Airflow deployment running in `astronomer.cloud`.

The webserver pod for my deployment is failing the liveness probe. I've deployed 6 sample dags and if I delete the webserver pod, a new pod will come up and I can access the UI for a few minutes, if I refresh enough times I get a 503 and the pod crash loops again.

![screenshot from 2018-08-03 16-09-56](https://user-images.githubusercontent.com/74

[2018-08-04 03:08] andscoop commented on #110
We resolved the worker issue by first removing the worker volume __from the cloud console__ and then deleting the pod and letting it restore itself.

The webserver is still slow, but it is stable. After reviewing their DAG code it appears that they are making a lot of calls to the postgres database in the top level of the DAGs. This is likely partly responsible for webserver instability.

[2018-08-04 03:49] schnie commented on #110
@andscoop did we do anything for the webserver yet? Does it work with our default settings?

Side note - we may have been able to achieve this with `kubectl`, but I've just had a lot more luck blasting things away from from the GKE dashboard when things get stuck, even though it makes no sense. If it happens again we should try again with `kubectl` first, just to see. The issue I've been messing w

[2018-08-04 16:38] andscoop commented on #110
Not yet, I think removing some top level DAG code that makes calls back to
the postgres database for nearly every DAG, has the potential to speed up
webserver load times.

On Fri, Aug 3, 2018, 11:49 PM Greg Neiheisel <notifications@github.com>
wrote:

[2018-08-06 14:38] ryw commented on #110
@schnie can we monitor database calls in some way? I know we're considering the database outside of Astronomer, but we should at least write a guide about how to manually monitor Airflow's interaction with your database, and troubleshooting that. this could be core airflow documentation vs. something specific to Astronomer.

[2018-08-06 16:12] vparekh94 opened #112 "Logs not making their way into UI"
For both of our customers running EE right now, logs are not making it from the worker to the UI:
[code]

[2018-08-06 16:43] vparekh94 commented on #112
Can confirm that these logs are still in the worker pods - can exec in and see them. Could it be something that is bottlenecking the connection between workers and webserver?

[2018-08-06 16:53] vparekh94 commented on #112
This is not happening  on  my demo instance or on @bonominijl 's cloud instance (only running the test bash dag), so it might have to do with the number of tasks being run.

[2018-08-06 21:03] vparekh94 commented on #112
Tried this with a new airflow deployment on the cluster and it looks like logs came through there just fine.

@andscoop do you think it could be because of a deleted volume or something else  we got rid of when debugging the instance?

[2018-08-07 13:13] vparekh94 opened #113 "Worker pod stuck in crash loop"
A customer is reporting that a pod is stuck in a crash loop. Getting the logs from kubectl yields:
[code]
We have fixed this in the past by deleting the workers volume. Is the file system being changed to "read-only" because the volume is out of memory?

[2018-08-08 17:34] vparekh94 commented on #111
Per @andscoop : this issue appears to have been caused by the readiness and liveliness probes causing workers to go into spin crashes. The webserver pod is trying to terminate, but it's waiting on the new one to spin up, but the new one keeps failing the liveness/readiness checks so it keeps crashing.

This should be fixed with this:
https://github.com/astronomerio/helm.astronomer.io/commit/2bc89f

[2018-08-08 21:05] bonominijl opened #114 "Add in resource requests to ensure node auto scaling"
GKE clusters auto scale based on pod resource requests. We do not currently make resource requests to the cluster and as a result the node pools will not auto scale within their node limit.

https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler

[2018-08-08 21:07] bonominijl opened #115 "Update grafana readiness and liveness endpoint"
The current grafana health checks use `/` for the endpoint, this can cause liveness and readiness checks to fail after enough dashboards are added, >5 as the main page take longer to load.

Grafana introduced a health endpoint `/api/health` which returns a health payload response:
![screenshot from 2018-08-08 17-07-11](https://user-images.githubusercontent.com/7431155/43864387-898863fa-9b2d-11e8-8

[2018-08-08 23:40] schnie commented on #113
Is this exactly the same thing we saw last Friday @vparekh94?

[2018-08-08 23:46] schnie commented on #112
@vparekh94 @andscoop if you're looking at task logs that should have been written before deleting a volume, then yes they're def gone. Is this on an instance where we deleting a volume? Looks like it was worker #1.

[2018-08-08 23:51] schnie commented on #110
@ryw I'm guessing this was related to the `/admin/` healthcheck which now pings an actual health url, rather than load all the DAGs. @andscoop @vparekh94 can we close this?

[2018-08-09 22:03] paolaperaza opened #116 "Research + Test `KubernetesPodOperator`"
Currently a request from 2 customers.

For those two cases, we're thinking the `KubernetesPodOperator` might actually be a better alternative to a Docker operator for a shared setting (instead of having containers running on the cluster). It should be a relatively seamless transition into our environment.

- We’ve also talked about the fact that we don’t expose the DockerSocket for security purpos

[2018-08-10 05:30] schnie commented on #116
I don't think it's meant for Composer. It was created at Bloomberg before Composer was released. I'll look at this soon and get back to you!

[2018-08-10 13:46] paolaperaza commented on #116
Oh oh, interesting. Noted! Took that from a note Viraj, Josh and I sent to a customer, haha

[2018-08-10 20:08] paolaperaza commented on #111
@andscoop or @schnie - can you guys give an update on this per chance? Got a few cloud 2.0 customers still seeing this issue.

[2018-08-10 20:14] schnie commented on #111
We have a fix for the next release, early next week. We'll update cloud with the fix as soon as we get that released.

[2018-08-13 12:55] schnie commented on #116
Hey @paolaperaza gonna look into this today. Who is interested in this? Are they looking at EE or cloud?

[2018-08-13 13:10] vparekh94 commented on #116
@schnie there's one looking at it for cloud and one for EE.

I was trying to rig something together based on this last week:
https://cloud.google.com/composer/docs/how-to/using/using-kubernetes-pod-operator?authuser=0&hl=ru

but I kept running into issues on fetching the config issue

[2018-08-13 13:30] schnie commented on #116
We'll also need a 1.10 image for this.

[2018-08-13 15:15] bonominijl commented on #111
@paolaperaza Ping me with any new deployments and I can update them manually.

[2018-08-13 15:27] schnie commented on #116
Oh ok. Well I'm working on refactoring astronomer repo now so we can have
multiple official versions anyway. So the problem is missing section in
airflow.cfg, which we can add to the official 1.10 image. Check the
airflow.cfg in master now and pull the default kube sections into yours and
try again.

On Mon, Aug 13, 2018, 10:20 AM vparekh94 <notifications@github.com> wrote:

[2018-08-13 18:42] ryw commented on #110
possible dupe w/ #111, closing

[2018-08-13 18:42] #110 closed

[2018-08-13 18:45] ryw commented on #113
@vparekh94 can you confirm if this is still broken for customer? is it occurring w/ only one worker? possibly related to full volume or inability to get a volume due to limits?

[2018-08-13 19:08] vparekh94 commented on #113
It is still broken - I have held off on deleting the volume due to #112 (which is something the customer isn't happy about). Will check and see if they are okay with it.

[2018-08-13 20:27] schnie opened #117 "Override environment variables on airflow deployments"
We need the ability to override arbitrary deployment level airflow environment variables. Original issue here: https://github.com/astronomerio/astronomer/issues/146.

Helm is already set up to pass these environment variables through to every airflow container in the deployment.

We need to ensure that any environment variables that we're setting supersede anything that that a user inputs.

- [ ]

[2018-08-14 01:38] schnie commented on #113
@vparekh94 did you end up deleting the volume and getting it rebooted? We committed a change for the next version that will make the volumes 50Gi instead of 10Gi, but that won't be in until the next version.

[2018-08-14 02:44] schnie commented on #113
Aight - well I'll close it for now. Re-open if you come across it again.

[2018-08-14 02:44] #113 closed

[2018-08-14 02:46] schnie commented on #116
@vparekh94 did you get a chance to test with an updated `airflow.cfg`?

[2018-08-14 11:58] vparekh94 commented on #116
Did not last night. On my todo list for today.

On Mon, Aug 13, 2018 at 10:46 PM Greg Neiheisel <notifications@github.com>
wrote:

[2018-08-14 15:00] bonominijl opened #118 "Add Ry + Viraj to cloud as sys admin"
[code]
[code]
[code]

[2018-08-14 15:08] schnie commented on #118
Add me too

On Tue, Aug 14, 2018, 11:00 AM Josh Bonomini <notifications@github.com>
wrote:

[2018-08-14 17:54] schnie commented on #115
Fix for this was merged into helm charts, will be included with v0.3.3 release.

[2018-08-14 17:54] #115 closed

[2018-08-14 22:17] schnie commented on #112
@vparekh94 @andscoop what you guys thinking for this one? Can we close it or are we still seeing ongoing issues?

[2018-08-14 22:23] schnie opened #119 "Control worker count"
As a deployment.owner I should be able to adjust the amount of celery workers in my deployment.

This should be relatively straightforward. Seems like we need to add a field to the houston requests that gets saved in postgres and gets passed through to helm with the values. Helm charts should already support passing this through. We should put an upper limit on how many someone can provision, mayb

[2018-08-14 22:27] schnie opened #120 "Control worker size"
As a deployment.owner I should be able to adjust the worker size between a small, medium or large.

We need to come up with the CPU/MEM requests/limits for the 3 sizes and present this to the user on the deployment creation/edit screen.

- [x] Add support in helm charts for passing in resources requests/limits
- [x] Add support in Houston to pass values during deployment create/edit
- [x] Add supp

[2018-08-14 22:35] schnie opened #121 "Apply resource limits to all airflow components"
Currently we don't pass any resource (mem/cpu) requests or limits to Airflow deployments. We need to start setting these values to allow auto-scaling in cloud environments to work. Cloud auto-scaling looks at the resources currently being requested vs what's available in the cluster and adds/removes nodes accordingly. We currently make no requests so autoscaling doesn't work at all.

Similar to ht

[2018-08-14 23:33] bonominijl opened #122 "Liveness/Readiness probe failing, connection refused"
Seeing an issue similar to #111 the pod is being killed due to failed liveness and readiness checks, however this is due to a connection refused error, rather than a timeout. We're using the `/health` endpoint as with other deployments. I've tried updating back to `/admin/` or `/` with the same error.

`kubectl describe pod extragalactic-universe-1689-webserver-765c96469f-wzqtq
Name:           ext

[2018-08-15 12:14] andscoop commented on #112
We should only keep this open if we have evidence that the lost volumes aren't the cause of the missing logs.

[2018-08-15 13:03] vparekh94 commented on #112
We don't have evidence of that right now, so I agree closing this is the right move for now.

[2018-08-15 13:03] #112 closed

[2018-08-17 05:17] schnie opened #123 "Control worker termination grace period"
As a deployment.owner I should be able to set the grace period for my workers to restart during a code push.

Default now is 10 minutes, maybe we should offer another slider up to a certain max. Maybe an hour for now, maybe longer depending on current customer needs.

[2018-08-17 15:01] vparekh94 commented on #118
Can we add @paolaperaza as well?

[2018-08-17 16:11] bonominijl commented on #118
@vparekh94 / @schnie / @ryw / @paolaperaza You've all been added to the `default_admin' group in cloud2 now. This means you should have access to the grafana dashbaord `grafana.astronomer.cloud` and direct access to all airflow deployments, tracked here: https://docs.google.com/spreadsheets/d/1_Scs3ylP0HkVk_J7-Kfg35REuQ0J5fae1eFlFam7CPE/edit#gid=0

You will not have access to the app.astronomer.cl

[2018-08-20 14:02] vparekh94 opened #125 "Silent failures in New Cloud"
Tasks are silently failing on Cloud 2.0, my gut says it is due to database connection issues:

Errors like these are making it into the UI:
```Broken DAG: [/usr/local/airflow/dags/s3_loader_delivery_settings/product_delivery_settings.py] (psycopg2.OperationalError) FATAL: remaining connection slots are reserved for non-replication superuser connections (Background on this error at: http://sqlalche

[2018-08-20 14:02] bonominijl commented on #122
@schnie Seeing this pop up on more airflow deployments. 6 out 0f our 16 airflow deployments in cloud2 are having this issue. Looks like more and more deployments might be breaking the airflow health check.

Airflow deployments experiencing this issue:
`zodiacal-elliptical-5601`
`mathematical-ion-4022`
`frozen-detector-9115`
`extragalactic-universe-1689`
`cislunar-antenna-7244`
`amateur-system-4139

[2018-08-20 14:38] bonominijl commented on #125
@vparekh94 / @schnie  I had an example dag running in one of my test instances and it looks like it was using 60 active connections to run that DAG. We should rework our example DAG to use fewer active connections and encourage any customer still running the example to turn it off.

I deleted that and another deployment I had, we're now using ~220 of our 300 max connections to the Cloud SQL postgr

[2018-08-20 14:50] vparekh94 commented on #117
Defaults (with descriptions):

# The maximum number of active DAG runs per DAG
max_active_runs_per_dag = 3
This is to help with database connections from being overloaded the first time a bunch o DAGs are deployed.

# Turn off scheduler catchup by setting this to False.
# Default behavior is unchanged and
# Command Line Backfills still work, but the scheduler
# will not do scheduler catchup if thi

[2018-08-20 14:59] vparekh94 commented on #125
From a customer:
[code]

The issue we are facing looks similar to:
https://github.com/GoogleCloudPlatform/cloudsql-proxy/issues/88

it looks like pgbouncer handles the connection pooling - could be worth giving that shot

[2018-08-20 16:44] schnie commented on #125
Nice, looking into pgbouncer and other options today

[2018-08-20 20:00] paolaperaza commented on #111
@bonominijl @schnie is this still an issue, or did a platform-wide fix go out with v0.4.1?

[2018-08-20 20:37] vparekh94 commented on #117
@schnie @bonominijl from what I've seen, the database issue is related to number of parallel tasks running at once. Do you tihnk it'd make sense to tune it down parallism and concurrency from 64 & 32 to 32 & 16, respectively? @tedmiston I'd be curious to hear your thoughts as well.

[2018-08-20 20:51] schnie commented on #117
We could do that as well. The pgbouncer idea might work too, which gives us a "deployment level" way to tune the max connections without forcing them to turn concurrency down. Should have something to test with in the next day or two.

[2018-08-20 21:10] bonominijl commented on #111
@paolaperaza This will still be an issue for new deployments in cloud.

We haven't updated Cloud2 to latest as that will cause existing users CLI to break, until they upgrade. We can coordinate that this week, or it may make sense to wait on the next release which could be any day now? @schnie

[2018-08-21 00:39] schnie commented on #111
We'll honestly probably be releasing a new version every few days for the next couple weeks. Might make sense to start getting this process started. The good news is that the next few patch releases shouldn't break any APIs or anything so it should be pretty simple to upgrade them as we release.

[2018-08-21 00:40] schnie commented on #122
@bonominijl are you still seeing this after the db upgrade today?

[2018-08-21 01:06] schnie commented on #116
@paolaperaza @vparekh94 is this for a cloud or EE customer?

[2018-08-21 13:17] bonominijl commented on #122
@schnie Hard to say. I didn't take an exact restart count of each to compare to today. I just deleted the webserver pods to reset their restart count and I'll monitor today. I've we're still seeing the same number of restarts it should be obvious in a few hours.

[2018-08-21 16:31] tedmiston commented on #117
I'm not sure we can give defaults that will be great for everyone out of the box, so either of those suggestions seems reasonable to me. I think we should make sure to emphasize to a user how they can change Airflow parallelism settings.  This should "just work" using ENV in a Dockerfile today.

Don't forget about `non_pooled_task_slot_count` as well

Also, I'm not totally sure which "database iss

[2018-08-21 21:28] vparekh94 commented on #116
Wrote a guide on how to do this in EE - will wait to close this out until we can support it in cloud:
https://www.astronomer.io/guides/kubepod-operator/

[2018-08-22 12:53] #118 closed

[2018-08-22 18:42] #111 closed

[2018-08-23 01:46] andscoop commented on #117
@cwurtz I think turning down page_size could help with webserver load times. It appears to default to 100 which seems high

# Consistent page size across all listing views in the UI
page_size = 100

[2018-08-23 16:09] pcmaffey commented on #117
Putting together the UI for this - am just realizing that there are upwards of a hundred env vars and that initially, the UI will just be a free form object/key blob, where the user will have to know the field key, and there will be no validation on errors/stupidity.

Ideally, we would have a searchable list of all env vars. When the user selects one to override, a field gets added to the form wit

[2018-08-23 16:45] tedmiston commented on #117
The Python configparser module that Airflow uses actually allows a user to create + pass arbitrary env vars.  I can make up `AIRFLOW__TAYLOR__FOO` and it will pass through even if not defined in airflow.cfg.

You could parse the valid groups + keys from [airflow.cfg](https://github.com/apache/incubator-airflow/blob/master/airflow/config_templates/default_airflow.cfg) (this changes slightly across

[2018-08-23 17:25] schnie commented on #117
Yea, they may also need to add environment variables that their code uses, so ones that we can't possibly pull together into a list. I think we should just limit a user to a certain maximum for now, like 10 at the houston api layer.

Agree that it lets users screw up, but they'll be able to see the logs of the webserver/scheduler soon, so diagnosing a screwed up env var should be easy.

As long as

[2018-08-24 14:26] bonominijl opened #126 "Add usage grant to read-only user with new deployments"
Talked about this with CJ a while back.

Customer use case is wanting to create a read-replica of their postgres, and/or a read only user on their production postgres for reporting. We currently grant permissions to a new user when creating a new database for airflow deployments, would be a great feature to add in a read-only usage grant in that workflow as well.

User story: As a user I want a re

[2018-08-27 20:40] pcmaffey commented on #117
bam https://github.com/astronomerio/orbit-ui/blob/master/src/modules/deployments/_docs/envVars.json

[2018-08-27 22:46] tedmiston commented on #117
One note is that each setting needs its group name prepended as well, like the full env var key to set for `dag_concurrency` is `AIRFLOW__CORE__DAG_CONCURRENCY` or for `job_heartbeat_sec` it'd be AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC.

[2018-08-28 02:17] ryw commented on #125
@schnie has pgbouncer solution ready to go out with next release

[2018-08-28 15:21] pcmaffey commented on #117
Ah doh - thanks for the heads up @tedmiston. So just to verify, it'd also be `airflow_celery_broker_transport_options_visibility_timeout` ?

Does casing matter?

[2018-08-28 15:26] pcmaffey commented on #117
And another question - for custom vars, do they also need to be attached to a group? So `airflow__mesos__custom_var` or can they be anything `custom_var`?

[2018-08-28 15:28] cwurtz commented on #117
Strictly speaking, no case doesn't matter. Airflows config function will grab all env's and normalize them. But in general ENV's should be all uppercase

Also the format is `AIRFLOW` (prefix) `__` (double underscore) `GROUP` (group within square brackets in the airflow.cfg) `__` (double underscore) `WHATEVER_ENV` (single underscore separating words).

Any ENV that needs to be grabbed using Airflow

[2018-08-28 16:57] pcmaffey commented on #117
With some regex fun... list of env vars
 1) by group - https://github.com/astronomerio/orbit-ui/blob/master/src/modules/deployments/info/envVars/grouped.json
2) named - https://github.com/astronomerio/orbit-ui/blob/master/src/modules/deployments/info/envVars/named.json

(Am currently just using the named list, but keeping the grouped list for future in case we want to add more fine grained control

[2018-08-28 17:00] tedmiston commented on #117
LGTM

[2018-08-29 14:08] bonominijl opened #127 "Explicit delete confirmation action"
As a user, I want to ensure deployments are not erroneously deleted through the UI.

Deleting a deployment should prompt the user for the deployment name to be manually typed in, prior to confirming the delete action.

This is similar to deleting services in GCP or other cloud tools, requiring you to type in the service name before you're able to confirm.

[2018-08-29 15:02] #121 closed

[2018-08-29 15:02] cwurtz commented on #121
All components should now have a resource object passed on deployment creation, and any updates triggered by houston.

These values are stored in a `deployment_constraints` table, and are defaulted at a system level, but can be overwritten at the workspace or deployment level

[2018-08-29 15:03] cwurtz commented on #123
Support for this has been added to houston.  Since there are no UI/CLI parts to this issue, I am closing it.

[2018-08-29 16:37] cwurtz commented on #123
Just didn't know if it was this issue or another

[2018-08-29 19:45] #122 closed

[2018-08-29 19:47] bonominijl opened #128 "Webservers easy to take down with bad deploys"
It's easy for a customer to take down a webserver pod with a bad deployment.

One customer in particular seems to take their webserver down regularly due to bad import errors.

As a user I want it to be very difficult to take down a webserver pod with a bad deployment.

[2018-08-29 23:44] schnie commented on #128
Are they using the CLI to dev? Would think they would see issues there first.

Webserver/Scheduler logs will be available to users soon so it's easier to troubleshoot that as well.

I wonder if we can come up with an improved healthcheck that would prevent it from deploying. Could also automate a roll back if big issues are found.

[2018-08-30 19:04] vparekh94 opened #129 "Email Addresses are case sensitive"
When adding users from the `Users` tab, the email address is case sensitive. I don't think email addresses are generally case sensitive. We should either standardize or add a blurb of text about it.

A customer found this bug when trying to add a new user.

Assigning to @schnie and @pcmaffey because I'm not sure who this would go to :stuck_out_tongue:

[2018-09-07 15:29] KevinGreene opened #130 "Log URLs in Astronomer Cloud 404"
Using the new Astronomer Cloud, all log URLs accessible from admin/taskinstance appear to 404.

The href element in question is:

[code]

As a result, when I click the link it directs me to:

[code]

I think this can be fixed by updating wherever it pulls the href from to include `https://` or even just `//`.

[2018-09-07 15:56] schnie commented on #130
@bonominijl are you seeing this in all instances?

[2018-09-10 20:26] schnie commented on #116
This should be good to go with the v0.5.0 release: https://github.com/astronomerio/helm.astronomer.io/blob/master/CHANGELOG.md

Closing this out now. We'll be upgrading cloud over the next few days.

[2018-09-10 20:26] #116 closed

[2018-09-10 22:37] paolaperaza commented on #130
Thanks @JohnLemberger and @KevinGreene for getting this in writing.

@schnie - any idea what our path forward is for this one, from our end?

[2018-09-11 15:50] andscoop opened #131 "As a deployment.admin, I want to duplicate pools, variables and connections from another Airflow deployment."
@ryw commented on [Fri Jul 20 2018](https://github.com/astronomerio/astro-cli/issues/91)

@andscoop commented on [Fri Feb 09 2018](https://github.com/astronomerio/astronomer-ee/issues/18)

As a user of the Astronomer Enterprise, I would like to be able to migrate pools, connection information and Airflow Variables between various Airflow instances, in order to save significant amounts of time when

[2018-09-11 15:54] andscoop opened #132 "Executing Remote Airflow Commands with CLI"
As a deployment.user, I want to use the official Airflow CLI to interact with my deployment.

[2018-09-11 20:19] pcmaffey commented on #123
Done in UI as well. Can close when tested.

[2018-09-12 22:03] paolaperaza commented on #130
@schnie Just tested this on a few, and I'm seeing it for all the cloud 2 instances I've jumped into thus far.

If you go into task instances > logs on the right per the screenshot above, the URL looks doubled.

If I remove the first part of it (e.g. `old-rocket-1234-airflow.astronomer.cloud`) and leave the rest (which will begin with the same thing, but end with `/admin/airflow/log?/dag_id=doc_com

[2018-09-13 00:26] schnie commented on #130
@paolaperaza ah thanks for digging into it, I was able to recreate as well. We'll look into it and report back soon. Should have something figured out soon.

[2018-09-13 01:46] schnie commented on #130
Ok, tracked this down. Will have a fix out for v0.5.1 in the next day or so.

[2018-09-13 04:29] paolaperaza commented on #130
Thanks so much for looking into this offline, @schnie ! That's great to hear. I'll keep an eye out for that fix and alert customers/close this issue accordingly.

[2018-09-13 12:51] schnie commented on #130
Fixed with https://github.com/astronomerio/helm.astronomer.io/pull/91

[2018-09-13 12:51] #130 closed

[2018-09-18 16:08] paolaperaza commented on #125
@schnie sounds like we can close this, given the 0.5.1 release?

[2018-09-18 20:04] schnie commented on #125
Yep!

[2018-09-18 20:04] #125 closed

[2018-09-21 17:14] #129 closed

[2018-10-09 02:07] schnie opened #133 "Scale Deployment Quotas"
Deployments will now be billed and sized by _capacity_. We need to provide a section in deployment creation for a slider to scale astronomical units (AUs) and choose airflow executor. These provide us with enough information to deploy the initial cluster.

Latest AU mappings and pricing here:
https://docs.google.com/spreadsheets/d/1J78archYro7Yq4vpUTafjVnt7FWjJu9dNDsqP-4u0ZE/edit?ts=5bbba5a5#gid=0

[2018-10-12 15:54] ryw opened #134 "Roll back image"
As a deployment.user, I want to see a history of image tags for my deployment releases, with the ability to roll back to a previous tag.

[2018-10-15 18:27] schnie opened #135 "Allow for basic airflow deployment alerts based on our metrics"
We have a lot of data in Prometheus now, and we can start to trigger some alerts from some generic queries, and send them through to Alertmanager.

Alertmanager can aggregate and trigger a webhook to Houston where we can finally send out email alerts.

At a minimum, users should be able to add a comma separated list of email addresses that we should forward these alerts to.

[2018-10-15 19:08] pcmaffey commented on #135
Do we want to implement this as a role?

[2018-10-15 19:28] schnie commented on #135
@cwurtz can users have multiple roles assigned? I think right now we kind of treat them as a hierarchy right? I'm not sure if it fits that model, but could if users can have multiple roles.

There's also the use-case where they want to add a slack channel email or something that doesn't really belong to a user account, so we may want to keep this separate. What you think @cwurtz?

[2018-10-15 20:06] cwurtz commented on #135
Right now when a user is added to a workspace, they are added to the workspace group as an admin.  We don't explicitly add users to deployments, they just get access because they are an admin.

Once we have full group support for workspaces and deployment, we could add support for selecting groups which should receive notifications.  Maybe a separate list for workspace groups and deployment groups

[2018-10-28 19:50] #133 closed

[2018-10-28 20:01] ryw opened #136 "Add support for multiple airflow versions"
@andscoop commented on [Mon Jul 23 2018](https://github.com/astronomerio/astronomer/issues/131)

We will soon need to support at a minimum  incubator-airflow 1.9 and 1.10. We will need to make changes to the build scripts as well as potential changes to the airflow Dockerfile and directory structure.

---

@schnie commented on [Mon Jul 23 2018](https://github.com/astronomerio/astronomer/issues/131

[2018-10-28 20:04] ryw opened #137 "Trigger Airflow Deployment Restart"
As a deployment.user, I want to restart the webserver or schedule by pushing a button in the UI.

[2018-11-07 18:57] ryw commented on #135
shipped in 0.7

[2018-11-07 18:57] #135 closed

[2018-11-07 19:14] ryw commented on #123
Shipped in 0.7

[2018-11-07 19:14] #123 closed

[2018-11-07 19:15] ryw commented on #120
Shipped in 0.7

[2018-11-07 19:15] #120 closed

[2018-11-07 19:15] ryw commented on #119
Shipped in 0.7

[2018-11-07 19:15] #119 closed

[2018-11-07 19:15] ryw commented on #117
Shipped in 0.7

[2018-11-07 19:17] #96 closed

[2018-11-07 19:18] ryw commented on #104
new alert in 0.7 `AirflowSchedulerUnhealthy` should cover this

[2018-11-07 19:18] #104 closed

[2018-11-07 19:19] #105 closed

[2018-11-07 19:19] ryw commented on #106
closing in favor of new feature in Pivotal

[2018-11-07 19:19] #106 closed

[2018-11-07 19:19] ryw commented on #107
fixed with inviteOnly feature

[2018-11-07 19:19] #107 closed

[2018-11-07 19:21] #109 closed

[2018-11-10 18:55] vparekh94 commented on #117
This needs to be changed to pull the list of configurations from 1.9-stable instead of 1.10 master. Some of the configs are named differently and the changes won't propagate with the different names:

Example:
Trying to set worker_concurrency to 2 instead of the default 16:

![image](https://user-images.githubusercontent.com/19679395/48304911-13300c00-e4f0-11e8-9837-7f0d001ea64f.png)

However, flo

[2018-12-13 22:32] ryw commented on #137
dupe of https://github.com/astronomer/orbit-ui/issues/41

[2018-12-13 22:32] #137 closed

[2018-12-13 22:32] ryw commented on #137
dupe of https://github.com/astronomer/orbit-ui/issues/41

[2018-12-13 22:35] #136 closed

[2018-12-13 22:36] ryw commented on #134
moved to https://github.com/astronomer/orbit-ui/issues/58

[2018-12-13 22:36] #134 closed

[2019-01-08 21:39] #132 closed

[2019-01-08 21:39] ryw commented on #132
Issue moved to [astronomer/astronomer #173](https://github.com/astronomer/astronomer/issues/173) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-08 21:39] #131 closed

[2019-01-08 21:39] ryw commented on #131
Issue moved to [astronomer/astronomer #174](https://github.com/astronomer/astronomer/issues/174) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-08 21:40] #128 closed

[2019-01-08 21:40] ryw commented on #128
Issue moved to [astronomer/astronomer #175](https://github.com/astronomer/astronomer/issues/175) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-08 21:40] #127 closed

[2019-01-08 21:40] ryw commented on #127
Issue moved to [astronomer/astronomer #176](https://github.com/astronomer/astronomer/issues/176) via [**ZenHub**](https://www.zenhub.com/)